<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.ChangeItemMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.change_item.ChangeItem">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="contact_form_id" jdbcType="INTEGER" property="contactFormId" />
    <result column="old_info" jdbcType="VARCHAR" property="oldInfo" />
    <result column="new_info" jdbcType="VARCHAR" property="newInfo" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>

  <select id="selectChangeItemList" resultMap="BaseResultMap">
    SELECT
        *
    FROM
        change_item ci
    WHERE
        ci.contact_form_id = #{contactFormId}
  </select>
</mapper>