<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.ContactFormMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.contact_form.ContactForm">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="contact_type" jdbcType="VARCHAR" property="contactType" />
    <result column="num" jdbcType="VARCHAR" property="num" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="applicant_department" jdbcType="VARCHAR" property="applicantDepartment" />
    <result column="applicant_person" jdbcType="VARCHAR" property="applicantPerson" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="hope_date" jdbcType="TIMESTAMP" property="hopeDate" />
    <result column="contact_title" jdbcType="VARCHAR" property="contactTitle" />
    <result column="contact_content" jdbcType="VARCHAR" property="contactContent" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="defined_sign_process" jdbcType="VARCHAR" property="definedSignProcess" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <resultMap id="ContactFormDetail" type="com.eservice.api.model.contact_form.ContactFormDetail">
    <result column="order_num" jdbcType="VARCHAR" property="orderNum" />
<!--这里为空，也可以接受到 ContactForm的内容-->
  </resultMap>

  <select id="selectContacts" resultMap="ContactFormDetail">
    SELECT * from contact_form cf
    join machine_order mo on cf.order_id = mo.id
    where 1=1

    <if test="contactType!=null and contactType != '' ">
    and cf.contact_type like CONCAT('%','${contactType}','%' )
    </if>

    <if test="applicantDepartment!=null and applicantDepartment != '' ">
      and cf.applicant_department like CONCAT('%','${applicantDepartment}','%' )
    </if>

    <if test="applicantPerson!=null and applicantPerson != '' ">
      and cf.applicant_person like CONCAT('%','${applicantPerson}','%' )
    </if>

    <if test="contractNum!=null and contractNum != '' ">
      and mo.order_num like CONCAT('%','${contractNum}','%' )
    </if>

    <if test="queryStartTime!=null and queryStartTime != '' ">
      and DATE_FORMAT(cf.create_date,'%Y-%m-%d') &gt;= #{queryStartTime}
    </if>
    <if test="queryFinishTime!=null and queryFinishTime != '' ">
      and DATE_FORMAT(mo.create_date,'%Y-%m-%d') &lt;= #{queryFinishTime}
    </if>
  </select>
  
  <insert id="saveAndGetID" useGeneratedKeys="true" parameterType="com.eservice.api.model.contact_form.ContactForm"
          keyProperty="id">
    insert into
    contact_form(contact_type, num, order_id, applicant_department, applicant_person,create_date, hope_date, contact_title,
                contact_content, status, defined_sign_process, update_date)
    values(
    #{contactType},#{num},#{orderId},#{applicantDepartment},#{applicantPerson},#{createDate},#{hopeDate},#{contactTitle},
    #{contactContent},#{status},#{definedSignProcess},#{updateDate})
  </insert>
</mapper>