<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.ContractMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.contract.Contract">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="contract_num" jdbcType="VARCHAR" property="contractNum" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="sellman" jdbcType="VARCHAR" property="sellman" />
    <result column="pay_method" jdbcType="VARCHAR" property="payMethod" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="contract_ship_date" jdbcType="DATE" property="contractShipDate" />
    <result column="mark" jdbcType="LONGVARCHAR" property="mark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <resultMap id="ContractDetailMap" type="com.eservice.api.model.contract.ContractDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="contract_num" jdbcType="VARCHAR" property="contractNum" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="sellman" jdbcType="VARCHAR" property="sellman" />
    <result column="pay_method" jdbcType="VARCHAR" property="payMethod" />
    <result column="contract_ship_date" jdbcType="DATE" property="contractShipDate" />
    <result column="mark" jdbcType="LONGVARCHAR" property="mark"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="order_num" jdbcType="VARCHAR" property="orderNum" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>

  <select id="selectContracts" resultMap="ContractDetailMap">
    select cs.current_step, c.*, COUNT(DISTINCT mo.id) as order_num from contract_sign cs
    LEFT JOIN contract c ON c.id = cs.contract_id
    LEFT JOIN machine_order mo ON mo.contract_id = c.id
    WHERE cs.create_time IN (SELECT MAX(create_time) FROM contract_sign GROUP BY contract_id)
    GROUP BY c.id
  </select>

    <insert id="saveAndGetID"   useGeneratedKeys="true"  parameterType="com.eservice.api.model.contract.Contract" keyProperty="id">
        insert into
        contract(contract_num, customer_name, sellman, status, contract_ship_date, pay_method, mark, create_time)
        values(
        #{contractNum},#{customerName},#{sellman},#{status},#{contractShipDate},#{payMethod},#{mark},#{createTime})
    </insert>

</mapper>