<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.ContactFormMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.contact_form.ContactForm">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="contact_type" jdbcType="VARCHAR" property="contactType" />
    <result column="num" jdbcType="VARCHAR" property="num" />
    <result column="order_num" jdbcType="VARCHAR" property="orderNum" />
    <result column="applicant_department" jdbcType="VARCHAR" property="applicantDepartment" />
    <result column="applicant_person" jdbcType="VARCHAR" property="applicantPerson" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="hope_date" jdbcType="TIMESTAMP" property="hopeDate" />
    <result column="contact_title" jdbcType="VARCHAR" property="contactTitle" />
    <result column="contact_content" jdbcType="VARCHAR" property="contactContent" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />

    <result column="attached_file" jdbcType="VARCHAR" property="attachedFile" />
  </resultMap>

  <resultMap id="ContactFormDetail" type="com.eservice.api.model.contact_form.ContactFormDetail">
    <result column="order_num" jdbcType="VARCHAR" property="orderNum" />
<!--这里为空，也可以接受到 ContactForm的内容-->
  </resultMap>

  <resultMap id="ResultContactFormAllInfo" type="com.eservice.api.model.contact_form.ContactFormAllInfo">
    <association javaType="com.eservice.api.model.contact_form.ContactForm" property="contactForm">
      <!--
      WARNING - @mbg.generated
      -->
      <id column="contact_form_id" jdbcType="INTEGER" property="id" />
      <result column="contact_type" jdbcType="VARCHAR" property="contactType" />
      <result column="num" jdbcType="VARCHAR" property="num" />
      <result column="order_num" jdbcType="VARCHAR" property="orderNum" />
      <result column="applicant_department" jdbcType="VARCHAR" property="applicantDepartment" />
      <result column="applicant_person" jdbcType="VARCHAR" property="applicantPerson" />
      <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
      <result column="hope_date" jdbcType="TIMESTAMP" property="hopeDate" />
      <result column="contact_title" jdbcType="VARCHAR" property="contactTitle" />
      <result column="contact_content" jdbcType="VARCHAR" property="contactContent" />
      <result column="status" jdbcType="VARCHAR" property="status" />
      <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
      <result column="attached_file" jdbcType="VARCHAR" property="attachedFile" />
    </association>

    <association property="contactSign" javaType="com.eservice.api.model.contact_sign.ContactSign" >
      <!--
      WARNING - @mbg.generated
      -->
      <id column="contact_sign_id" jdbcType="INTEGER" property="id" />
      <result column="contact_form_id" jdbcType="INTEGER" property="contactFormId" />
      <result column="current_step" jdbcType="VARCHAR" property="currentStep" />
      <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
      <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
      <result column="sign_content" jdbcType="LONGVARCHAR" property="signContent" />
    </association>
    <collection property="changeItemList" ofType="com.eservice.api.model.change_item.ChangeItem">
      <id column="change_item_id" jdbcType="INTEGER" property="id" />
      <result column="contact_form_id" jdbcType="INTEGER" property="contactFormId" />
      <result column="old_info" jdbcType="VARCHAR" property="oldInfo" />
      <result column="new_info" jdbcType="VARCHAR" property="newInfo" />
      <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    </collection>

  </resultMap>

  <select id="selectContacts" resultMap="ContactFormDetail">
    SELECT * from contact_form cf
    join machine_order mo on cf.order_num = mo.order_num
    where 1=1

    <if test="contactType!=null and contactType != '' ">
    and cf.contact_type like CONCAT('%','${contactType}','%' )
    </if>

    <if test="applicantDepartment!=null and applicantDepartment != '' ">
      and cf.applicant_department like CONCAT('%','${applicantDepartment}','%' )
    </if>

    <if test="applicantPerson!=null and applicantPerson != '' ">
      and cf.applicant_person like CONCAT('%','${applicantPerson}','%' )
    </if>

    <if test="contractNum!=null and contractNum != '' ">
      and mo.order_num like CONCAT('%','${contractNum}','%' )
    </if>

    <if test="queryStartTime!=null and queryStartTime != '' ">
      and DATE_FORMAT(cf.create_date,'%Y-%m-%d') &gt;= #{queryStartTime}
    </if>
    <if test="queryFinishTime!=null and queryFinishTime != '' ">
      and DATE_FORMAT(mo.create_date,'%Y-%m-%d') &lt;= #{queryFinishTime}
    </if>
  </select>
  
  <insert id="saveAndGetID" useGeneratedKeys="true" parameterType="com.eservice.api.model.contact_form.ContactForm"
          keyProperty="id">
    insert into
    contact_form(contact_type, num, order_num, applicant_department, applicant_person,create_date, hope_date, contact_title,
                contact_content, status, update_date)
    values(
    #{contactType},#{num},#{orderNum},#{applicantDepartment},#{applicantPerson},#{createDate},#{hopeDate},#{contactTitle},
    #{contactContent},#{status}, #{updateDate})
  </insert>

  <!-- 这个有问题，在有多个change_item时返回有异常 注意collection 用法-->
  <!--<select id="getAllInfo" resultMap="ResultContactFormAllInfo">-->
    <!--SELECT-->
        <!--*-->
    <!--FROM-->
        <!--contact_form cf-->
    <!--JOIN change_item ci ON ci.contact_form_id = cf.id-->
    <!--JOIN contact_sign cs ON cs.contact_form_id = cf.id-->
    <!--WHERE-->
        <!--cf.id = #{contactFormId}-->
  <!--</select>-->
</mapper>