<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.ContactFormMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.contact_form.ContactForm">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="contact_type" jdbcType="VARCHAR" property="contactType" />
    <result column="num" jdbcType="VARCHAR" property="num" />
    <result column="order_num" jdbcType="VARCHAR" property="orderNum" />
    <result column="applicant_department" jdbcType="VARCHAR" property="applicantDepartment" />
    <result column="applicant_person" jdbcType="VARCHAR" property="applicantPerson" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="hope_date" jdbcType="TIMESTAMP" property="hopeDate" />
    <result column="contact_title" jdbcType="VARCHAR" property="contactTitle" />
    <result column="contact_content" jdbcType="VARCHAR" property="contactContent" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />

    <result column="attached_file" jdbcType="VARCHAR" property="attachedFile" />
    <result column="contact_content_else" jdbcType="VARCHAR" property="contactContentElse" />

  </resultMap>

  <resultMap id="ContactFormDetail" type="com.eservice.api.model.contact_form.ContactFormDetail">
      <!--
     WARNING - @mbg.generated
   -->

      <!--这里为空，也可以接受到 ContactForm的内容; 2020-0703: 但是在存在了association的情况下，不能省略，否则返回的数据为空等问题-->
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="contact_type" jdbcType="VARCHAR" property="contactType" />
      <result column="num" jdbcType="VARCHAR" property="num" />
      <result column="order_num" jdbcType="VARCHAR" property="orderNum" />
      <result column="applicant_department" jdbcType="VARCHAR" property="applicantDepartment" />
      <result column="applicant_person" jdbcType="VARCHAR" property="applicantPerson" />
      <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
      <result column="hope_date" jdbcType="TIMESTAMP" property="hopeDate" />
      <result column="contact_title" jdbcType="VARCHAR" property="contactTitle" />
      <result column="contact_content" jdbcType="VARCHAR" property="contactContent" />
      <result column="status" jdbcType="VARCHAR" property="status" />
      <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />

      <result column="attached_file" jdbcType="VARCHAR" property="attachedFile" />
      <result column="contact_content_else" jdbcType="VARCHAR" property="contactContentElse" />

    <result column="order_num" jdbcType="VARCHAR" property="orderNum" />
    <result column="current_step" jdbcType="VARCHAR" property="currentStep" />

      <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
      <association property="contactFulfill" javaType="com.eservice.api.model.contact_fulfill.ContactFulfill">
          <id column="id_fulfill" jdbcType="INTEGER" property="id" />
          <result column="contact_form_id" jdbcType="INTEGER" property="contactFormId" />
          <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
          <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
          <result column="hope_date" jdbcType="TIMESTAMP" property="hopeDate" />
          <result column="fulfill_man" jdbcType="VARCHAR" property="fulfillMan" />
          <result column="message" jdbcType="VARCHAR" property="message" />
          <result column="feedback" jdbcType="VARCHAR" property="feedback" />
          <result column="status" jdbcType="VARCHAR" property="status" />
      </association>


  </resultMap>

  <resultMap id="ResultContactFormAllInfo" type="com.eservice.api.model.contact_form.ContactFormAllInfo">
    <association javaType="com.eservice.api.model.contact_form.ContactForm" property="contactForm">
      <!--
      WARNING - @mbg.generated
      -->
      <id column="contact_form_id" jdbcType="INTEGER" property="id" />
      <result column="contact_type" jdbcType="VARCHAR" property="contactType" />
      <result column="num" jdbcType="VARCHAR" property="num" />
      <result column="order_num" jdbcType="VARCHAR" property="orderNum" />
      <result column="applicant_department" jdbcType="VARCHAR" property="applicantDepartment" />
      <result column="applicant_person" jdbcType="VARCHAR" property="applicantPerson" />
      <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
      <result column="hope_date" jdbcType="TIMESTAMP" property="hopeDate" />
      <result column="contact_title" jdbcType="VARCHAR" property="contactTitle" />
      <result column="contact_content" jdbcType="VARCHAR" property="contactContent" />
      <result column="status" jdbcType="VARCHAR" property="status" />
      <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
      <result column="attached_file" jdbcType="VARCHAR" property="attachedFile" />
      <result column="contact_content_else" jdbcType="VARCHAR" property="contactContentElse" />
    </association>

    <association property="contactSign" javaType="com.eservice.api.model.contact_sign.ContactSign" >
      <!--
      WARNING - @mbg.generated
      -->
      <id column="contact_sign_id" jdbcType="INTEGER" property="id" />
      <result column="contact_form_id" jdbcType="INTEGER" property="contactFormId" />
      <result column="current_step" jdbcType="VARCHAR" property="currentStep" />
      <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
      <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
      <result column="sign_content" jdbcType="LONGVARCHAR" property="signContent" />
    </association>
    <collection property="changeItemList" ofType="com.eservice.api.model.change_item.ChangeItem">
      <id column="change_item_id" jdbcType="INTEGER" property="id" />
      <result column="contact_form_id" jdbcType="INTEGER" property="contactFormId" />
      <result column="old_info" jdbcType="VARCHAR" property="oldInfo" />
      <result column="new_info" jdbcType="VARCHAR" property="newInfo" />
      <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    </collection>

      <collection property="contactFulfill" ofType="com.eservice.api.model.contact_fulfill.ContactFulfill">
          <id column="id" jdbcType="INTEGER" property="id" />
          <result column="contact_form_id" jdbcType="INTEGER" property="contactFormId" />
          <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
          <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
          <result column="hope_date" jdbcType="TIMESTAMP" property="hopeDate" />
          <result column="fulfill_man" jdbcType="VARCHAR" property="fulfillMan" />
          <result column="message" jdbcType="VARCHAR" property="message" />
          <result column="feedback" jdbcType="VARCHAR" property="feedback" />
          <result column="status" jdbcType="VARCHAR" property="status" />
      </collection>

  </resultMap>

  <select id="selectContacts" resultMap="ContactFormDetail">
    SELECT
      cf.*,
      cff.id as id_fulfill,
      cff.*
      from contact_form cf
    left join contact_sign cs on cs.contact_form_id = cf.id
    LEFT JOIN contact_fulfill cff on cff.contact_form_id = cf.id
    where 1=1

    <if test="contactType!=null and contactType != '' ">
    and cf.contact_type like CONCAT('%','${contactType}','%' )
    </if>
-- -- 销售部不要相互看到，都是要能看到其他非销售的部门的联系单
    <if test="applicantDepartment!=null and applicantDepartment != '' ">
      and
      (cf.applicant_department like CONCAT('%','${applicantDepartment}','%')
--       OR
--       (cf.applicant_department != '内贸部' and cf.applicant_department != '外贸一部' and cf.applicant_department != '外贸二部' )
      )
    </if>

    <if test="userRoleName!=null and userRoleName != '' ">
 -- TOOD
    </if>

    <if test="applicantPerson!=null and applicantPerson != '' ">
      and cf.applicant_person like CONCAT('%','${applicantPerson}','%' )
    </if>

    <if test="orderNum!=null and orderNum != '' ">
      and cf.order_num like CONCAT('%','${orderNum}','%' )
    </if>

    <if test="queryStartTime!=null and queryStartTime != '' ">
      and DATE_FORMAT(cf.create_date,'%Y-%m-%d') &gt;= #{queryStartTime}
    </if>
    <if test="queryFinishTime!=null and queryFinishTime != '' ">
      and DATE_FORMAT(cf.create_date,'%Y-%m-%d') &lt;= #{queryFinishTime}
    </if>

    <if test="currentStep!=null and currentStep != '' ">
      and cs.current_step like CONCAT('%','${currentStep}','%' )
    </if>

    <if test="strStatus!=null and strStatus != '' ">
      and cf.`status` = #{strStatus}
    </if>

    ORDER BY cs.update_time desc, cf.update_date desc, cf.create_date desc
  </select>
  
  <insert id="saveAndGetID" useGeneratedKeys="true" parameterType="com.eservice.api.model.contact_form.ContactForm"
          keyProperty="id">
    insert into
    contact_form(contact_type, num, order_num, applicant_department, applicant_person,create_date, hope_date, contact_title,
                contact_content, status, update_date, attached_file, contact_content_else)
    values(
    #{contactType},#{num},#{orderNum},#{applicantDepartment},#{applicantPerson},#{createDate},#{hopeDate},#{contactTitle},
    #{contactContent},#{status}, #{updateDate}, #{attachedFile}, #{contactContentElse})
  </insert>

  <!-- 这个有问题，在有多个change_item时返回有异常 注意collection 用法-->
  <!--<select id="getAllInfo" resultMap="ResultContactFormAllInfo">-->
    <!--SELECT-->
        <!--*-->
    <!--FROM-->
        <!--contact_form cf-->
    <!--JOIN change_item ci ON ci.contact_form_id = cf.id-->
    <!--JOIN contact_sign cs ON cs.contact_form_id = cf.id-->
    <!--WHERE-->
        <!--cf.id = #{contactFormId}-->
  <!--</select>-->

  <select id="getLxdLastSerialNumber" resultMap="BaseResultMap">
    SELECT
        *
    FROM
        contact_form cf
    WHERE
        1 = 1
    AND cf.create_date LIKE CONCAT('${year}','%' )
    AND cf.applicant_department = #{department}
    ORDER BY
        cf.create_date
  </select>
</mapper>