<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.ContactFulfillMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.contact_fulfill.ContactFulfill">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="contact_form_id" jdbcType="INTEGER" property="contactFormId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="hope_date" jdbcType="TIMESTAMP" property="hopeDate" />
    <result column="fulfill_man" jdbcType="VARCHAR" property="fulfillMan" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="feedback" jdbcType="VARCHAR" property="feedback" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
</mapper>