<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.DesignDepInfoMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.design_dep_info.DesignDepInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="order_num" jdbcType="VARCHAR" property="orderNum" />
    <result column="saleman" jdbcType="VARCHAR" property="saleman" />
    <result column="guest_name" jdbcType="VARCHAR" property="guestName" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="machine_num" jdbcType="INTEGER" property="machineNum" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="order_sign_status" jdbcType="TINYINT" property="orderSignStatus" />
    <result column="designer" jdbcType="VARCHAR" property="designer" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate" />
    <result column="machine_spec" jdbcType="VARCHAR" property="machineSpec" />
    <result column="keywords" jdbcType="VARCHAR" property="keywords" />
    <result column="drawing_loading_done" jdbcType="BIT" property="drawingLoadingDone" />
    <result column="drawing_loading_files" jdbcType="VARCHAR" property="drawingLoadingFiles" />
    <result column="hole_tube_required" jdbcType="BIT" property="holeTubeRequired" />
    <result column="hole_tube_files" jdbcType="VARCHAR" property="holeTubeFiles" />
    <result column="bom_required" jdbcType="BIT" property="bomRequired" />
    <result column="cover_required" jdbcType="BIT" property="coverRequired" />
    <result column="cover_file" jdbcType="VARCHAR" property="coverFile" />
    <result column="design_status" jdbcType="VARCHAR" property="designStatus" />
    <result column="hole_tube_done" jdbcType="BIT" property="holeTubeDone" />
    <result column="bom_done" jdbcType="BIT" property="bomDone" />
    <result column="cover_done" jdbcType="BIT" property="coverDone" />
  </resultMap>
  <select id="selectDesignDepInfo" resultMap="BaseResultMap">
    SELECT
      *
    FROM
        design_dep_info ddi
    WHERE 1=1
    <if test="orderNum!=null and orderNum != '' ">
      and ddi.order_num like CONCAT('%','${orderNum}','%' )
    </if>
    <if test="saleman!=null and saleman != '' ">
      and ddi.saleman like CONCAT('%','${saleman}','%')
    </if>

    <if test="guestName!=null and guestName != '' ">
      and ddi.guest_name like CONCAT('%','${guestName}','%')
    </if>

    <if test="orderStatus!=null and orderStatus != '' ">
      and ddi.order_sign_status = #{orderStatus}
    </if>
    <if test="drawingStatus!=null and drawingStatus != '' ">
      and ddi.drawing_loading_done = #{drawingStatus}
    </if>

    <if test="machineSpec!=null and machineSpec != '' ">
      and ddi.machine_spec like CONCAT('%','${machineSpec}','%' )
    </if>
    <if test="keyword!=null and keyword != '' ">
      and ddi.keywords like CONCAT('%','${keyword}','%' )
    </if>
    <if test="designer!=null and designer != '' ">
      and ddi.designer like CONCAT('%','${designer}','%' )
    </if>

    <if test="updateDateStart!=null and updateDateStart != '' ">
      and DATE_FORMAT(ddi.updated_time,'%Y-%m-%d') &gt;= #{updateDateStart}
    </if>
    <if test="updateDateEnd!=null and updateDateEnd != '' ">
      and DATE_FORMAT(ddi.updated_time,'%Y-%m-%d') &lt;= #{updateDateEnd}
    </if>
  </select>

  <insert id="saveAndGetID" useGeneratedKeys="true" parameterType="com.eservice.api.model.design_dep_info.DesignDepInfo"
          keyProperty="id">
    insert into
    design_dep_info(order_id,order_num, saleman, guest_name, country, machine_num,remark, order_sign_status, designer,
    created_date, updated_date, machine_spec, keywords, drawing_loading_done,drawing_loading_files,
    hole_tube_required,hole_tube_files,bom_required,cover_required,cover_file,design_status,
    hole_tube_done, bom_done, cover_done )
    values(
    #{orderId},#{orderNum},#{saleman},#{guestName},#{country},#{machineNum},#{remark},#{orderSignStatus},#{designer},
    #{createdDate},#{updatedDate},  #{machineSpec}, #{keywords}, #{drawingLoadingDone}, #{drawingLoadingFiles},
    #{holeTubeRequired}, #{holeTubeFiles}, #{bomRequired}, #{coverRequired},#{coverFile},#{designStatus},
    #{holeTubeDone},#{bomDone}, #{coverDone})
  </insert>
</mapper>