<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.InstallPlanMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.install_plan.InstallPlan">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="install_group_id" jdbcType="INTEGER" property="installGroupId" />
    <result column="install_date_plan" jdbcType="DATE" property="installDatePlan" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="machine_id" jdbcType="INTEGER" property="machineId" />
    <result column="cmt_send" jdbcType="VARCHAR" property="cmtSend" />
    <result column="valid" jdbcType="TINYINT" property="valid" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
  </resultMap>
</mapper>