<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.InstallPlanActualMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.install_plan_actual.InstallPlanActual">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="install_plan_id" jdbcType="INTEGER" property="installPlanId" />
    <result column="head_count_done" jdbcType="INTEGER" property="headCountDone" />
    <result column="cmt_feedback" jdbcType="VARCHAR" property="cmtFeedback" />
    <result column="pc_wire_num" jdbcType="VARCHAR" property="pcWireNum" />
    <result column="kouxian_num" jdbcType="VARCHAR" property="kouxianNum" />
    <result column="light_wire_num" jdbcType="VARCHAR" property="lightWireNum" />
    <result column="warn_signal_num" jdbcType="VARCHAR" property="warnSignalNum" />
    <result column="device_signal_num" jdbcType="VARCHAR" property="deviceSignalNum" />
    <result column="warn_power_num" jdbcType="VARCHAR" property="warnPowerNum" />
    <result column="device_power_num" jdbcType="VARCHAR" property="devicePowerNum" />
    <result column="device_buxiu_num" jdbcType="VARCHAR" property="deviceBuxiuNum" />
    <result column="device_switch_num" jdbcType="VARCHAR" property="deviceSwitchNum" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <resultMap id="InstallActualDetailsResultMap" type="com.eservice.api.model.install_plan_actual.InstallPlanActualDetails">
    <!--
       WARNING - @mbg.generated
     -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="install_plan_id" jdbcType="INTEGER" property="installPlanId" />
    <result column="head_count_done" jdbcType="INTEGER" property="headCountDone" />
    <result column="cmt_feedback" jdbcType="VARCHAR" property="cmtFeedback" />
    <result column="pc_wire_num" jdbcType="VARCHAR" property="pcWireNum" />
    <result column="kouxian_num" jdbcType="VARCHAR" property="kouxianNum" />
    <result column="light_wire_num" jdbcType="VARCHAR" property="lightWireNum" />
    <result column="warn_signal_num" jdbcType="VARCHAR" property="warnSignalNum" />
    <result column="device_signal_num" jdbcType="VARCHAR" property="deviceSignalNum" />
    <result column="warn_power_num" jdbcType="VARCHAR" property="warnPowerNum" />
    <result column="device_power_num" jdbcType="VARCHAR" property="devicePowerNum" />
    <result column="device_buxiu_num" jdbcType="VARCHAR" property="deviceBuxiuNum" />
    <result column="device_switch_num" jdbcType="VARCHAR" property="deviceSwitchNum" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />

    <result column="order_num" jdbcType="VARCHAR" property="orderNum" />
    <result column="nameplate" jdbcType="VARCHAR" property="nameplate" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="head_num" jdbcType="VARCHAR" property="headNum" />
    <result column="needle_num" jdbcType="VARCHAR" property="needleNum" />
    <result column="cmt_send" jdbcType="VARCHAR" property="cmtSend" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="install_date_plan" jdbcType="TIMESTAMP" property="installDatePlan" />

  </resultMap>
  <select id="selectInstallPlanActualDetails" resultMap="InstallActualDetailsResultMap">
    SELECT * FROM install_plan ip
    LEFT JOIN install_plan_actual ipa on ipa.install_plan_id = ip.id
    LEFT JOIN machine_order mo on mo.id = ip.order_id
    LEFT JOIN machine m on m.id = ip.machine_id
    LEFT JOIN install_group ig on ig.id = ip.install_group_id

    where  1=1
    <if test="orderNum != null and orderNum != ''">
      and mo.order_num like CONCAT('%','${orderNum}','%' )
    </if>
    <if test="nameplate != null and nameplate != ''">
      and m.nameplate  like CONCAT('%','${nameplate}','%' )
    </if>
    <if test="installGroupName != null and installGroupName != ''">
      and ig.group_name like CONCAT('%','${installGroupName}','%' )
    </if>
    <if test="type != null and type != ''">
      and ig.type = #{type}
    </if>
    <if test="queryStartTime!=null and queryStartTime != '' ">
      and DATE_FORMAT(ip.install_date_plan,'%Y-%m-%d') &gt;= #{queryStartTime}
    </if>
    <if test="queryFinishTime!=null and queryFinishTime != '' ">
      and DATE_FORMAT(ip.install_date_plan,'%Y-%m-%d') &lt;= #{queryFinishTime}
    </if>
    <if test="isNotFinished">
      and (ipa.head_count_done &lt; mo.head_num or ipa.head_count_done is null)
    </if>

    ORDER BY ip.create_date desc, ip.install_date_plan desc , ipa.create_date desc
  </select>

  <select id="getInstallPlanActual" resultMap="BaseResultMap">
    SELECT
	*
    FROM
        install_plan_actual ipa
    WHERE
        ipa.install_plan_id = #{installPlanId}
  </select>
</mapper>