<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.MachineTypeMapper">
	<resultMap id="BaseResultMap" type="com.eservice.api.model.machine_type.MachineType">
		<!--
		  WARNING - @mbg.generated
		-->
		<id column="id" jdbcType="INTEGER" property="id"/>
		<result column="name" jdbcType="VARCHAR" property="name"/>
		<result column="finished" jdbcType="VARCHAR" property="finished"/>
	</resultMap>

	<select id="selectByName" resultMap="BaseResultMap">
		SELECT * FROM machine_type where name=#{name}
	</select>

	<select id="selectAfterN" resultMap="BaseResultMap">
		SELECT * from machine_type limit #{nn},1111
-- 		1111够多了
	</select>

</mapper>