<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.MachineOrderMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.machine_order.MachineOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_num" jdbcType="VARCHAR" property="orderNum" />
    <result column="original_order_id" jdbcType="INTEGER" property="originalOrderId" />
    <result column="contract_id" jdbcType="INTEGER" property="contractId" />
    <result column="order_detail_id" jdbcType="INTEGER" property="orderDetailId" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="machine_num" jdbcType="TINYINT" property="machineNum" />
    <result column="machine_type" jdbcType="INTEGER" property="machineType" />
    <result column="needle_num" jdbcType="INTEGER" property="needleNum" />
    <result column="head_num" jdbcType="INTEGER" property="headNum" />
    <result column="head_distance" jdbcType="INTEGER" property="headDistance" />
    <result column="x_distance" jdbcType="VARCHAR" property="xDistance" />
    <result column="y_distance" jdbcType="VARCHAR" property="yDistance" />
    <result column="package_method" jdbcType="VARCHAR" property="packageMethod" />
    <result column="machine_price" jdbcType="VARCHAR" property="machinePrice" />
    <result column="contract_ship_date" jdbcType="DATE" property="contractShipDate" />
    <result column="plan_ship_date" jdbcType="DATE" property="planShipDate" />
    <result column="sellman" jdbcType="VARCHAR" property="sellman" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="mark" jdbcType="LONGVARCHAR" property="mark" />
  </resultMap>

  <resultMap id="MachineOrderDetailMap" type="com.eservice.api.model.machine_order.MachineOrderDetail">
    <!--&amp;lt;id column="id" jdbcType="INTEGER" property="id" /&amp;gt;-->
    <id column="id" property="id" />
    <result column="order_num" jdbcType="VARCHAR" property="orderNum" />
    <result column="original_order_id" jdbcType="INTEGER" property="originalOrderId" />
    <result column="contract_id" jdbcType="INTEGER" property="contractId" />
    <result column="order_detail_id" jdbcType="INTEGER" property="orderDetailId" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="contract_num" jdbcType="VARCHAR" property="contractNum" />
    <result column="customer" jdbcType="VARCHAR" property="customer" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <!--&amp;lt;result column="machine_type" jdbcType="INTEGER" property="machineType" /&amp;gt;-->
    <result column="needle_num" jdbcType="INTEGER" property="needleNum" />
    <result column="head_num" jdbcType="INTEGER" property="headNum" />
    <result column="head_distance" jdbcType="INTEGER" property="headDistance" />
    <result column="x_distance" jdbcType="VARCHAR" property="xDistance" />
    <result column="y_distance" jdbcType="VARCHAR" property="yDistance" />
    <result column="package_method" jdbcType="VARCHAR" property="packageMethod" />
    <result column="machine_num" jdbcType="TINYINT" property="machineNum" />
    <result column="machine_price" jdbcType="VARCHAR" property="machinePrice" />
    <result column="contract_ship_date" jdbcType="DATE" property="contractShipDate" />
    <result column="plan_ship_date" jdbcType="DATE" property="planShipDate" />
    <result column="sellman" jdbcType="VARCHAR" property="sellman" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="mark" jdbcType="LONGVARCHAR" property="mark" />
    <association javaType="com.eservice.api.model.order_detail.OrderDetail" property="orderDetail">
      <!--&amp;lt;id column="id" jdbcType="INTEGER" property="id" /&amp;gt;-->
      <id column="id" property="id" />
      <result column="special_towel_color" jdbcType="VARCHAR" property="specialTowelColor" />
      <result column="special_towel_daxle" jdbcType="VARCHAR" property="specialTowelDaxle" />
      <result column="special_towel_haxle" jdbcType="VARCHAR" property="specialTowelHaxle" />
      <result column="special_towel_motor" jdbcType="VARCHAR" property="specialTowelMotor" />
      <result column="special_taping_head" jdbcType="VARCHAR" property="specialTapingHead" />
      <result column="special_towel_needle" jdbcType="VARCHAR" property="specialTowelNeedle" />
      <result column="electric_pc" jdbcType="VARCHAR" property="electricPc" />
      <result column="electric_motor" jdbcType="VARCHAR" property="electricMotor" />
      <result column="electric_motor_xy" jdbcType="VARCHAR" property="electricMotorXy" />
      <result column="electric_trim" jdbcType="VARCHAR" property="electricTrim" />
      <result column="electric_power" jdbcType="VARCHAR" property="electricPower" />
      <result column="electric_switch" jdbcType="VARCHAR" property="electricSwitch" />
      <result column="electric_oil" jdbcType="VARCHAR" property="electricOil" />
      <result column="axle_split" jdbcType="VARCHAR" property="axleSplit" />
      <result column="axle_panel" jdbcType="VARCHAR" property="axlePanel" />
      <result column="axle_needle" jdbcType="VARCHAR" property="axleNeedle" />
      <result column="axle_rail" jdbcType="VARCHAR" property="axleRail" />
      <result column="axle_down_check" jdbcType="VARCHAR" property="axleDownCheck" />
      <result column="axle_hook" jdbcType="VARCHAR" property="axleHook" />
      <result column="axle_jump" jdbcType="VARCHAR" property="axleJump" />
      <result column="axle_upper_thread" jdbcType="VARCHAR" property="axleUpperThread" />
      <result column="axle_addition" jdbcType="VARCHAR" property="axleAddition" />
      <result column="framework_color" jdbcType="VARCHAR" property="frameworkColor" />
      <result column="framework_platen" jdbcType="VARCHAR" property="frameworkPlaten" />
      <result column="framework_platen_color" jdbcType="VARCHAR" property="frameworkPlatenColor" />
      <result column="framework_ring" jdbcType="VARCHAR" property="frameworkRing" />
      <result column="framework_bracket" jdbcType="VARCHAR" property="frameworkBracket" />
      <result column="framework_stop" jdbcType="VARCHAR" property="frameworkStop" />
      <result column="framework_light" jdbcType="VARCHAR" property="frameworkLight" />
      <result column="driver_type" jdbcType="VARCHAR" property="driverType" />
      <result column="driver_method" jdbcType="VARCHAR" property="driverMethod" />
      <result column="driver_reel_hole" jdbcType="VARCHAR" property="driverReelHole" />
      <result column="driver_horizon_num" jdbcType="TINYINT" property="driverHorizonNum" />
      <result column="driver_vertical_num" jdbcType="TINYINT" property="driverVerticalNum" />
      <result column="driver_reel" jdbcType="VARCHAR" property="driverReel" />
    </association>
    <association javaType="com.eservice.api.model.machine_type.MachineType" property="machineType">
      <id column="machineTypeID" property="id" />
      <result column="name" jdbcType="VARCHAR" property="name" />
    </association>

  </resultMap>

  <select id="getOrderAllDetail" resultMap="MachineOrderDetailMap">
    select  mo.*, od.*, mt.id machineTypeID, mt.name, con.id, con.contract_num, con.customer_name as customer
    from machine_order mo
     join order_detail od  on mo.order_detail_id=od.id
     join machine_type mt  on mo.machine_type=mt.id
     join contract con on mo.contract_id = con.id
     where mo.id = ${id};
  </select>

  <select id="selectOrderFuzzy" resultMap="MachineOrderDetailMap">
    select mo.*, od.*, mt.id machineTypeID, mt.name, con.id, con.contract_num, con.customer_name as customer
    from machine_order mo
    join order_detail od on mo.order_detail_id=od.id
    join machine_type mt on mo.machine_type=mt.id
    join contract con on mo.contract_id = con.id
    where 1=1
    <if test="id != null and id != ''">
     and mo.id=#{id}
    </if>
    <if test="order_num != null and order_num != ''">
      and mo.order_num like CONCAT('%','${order_num}','%' )
    </if>
    <if test="contract_num != null and contract_num != ''">
      and con.contract_num like CONCAT('%','${contract_num}','%' )
    </if>
    <if test="status != null and status != ''">
      and mo.id=${status}
    </if>
    <if test="sellman != null and sellman != '' ">
      and mo.sellman like CONCAT('%','${sellman}','%' )
    </if>
    <if test="customer!=null and customer != '' ">
      and con.customer_name like CONCAT('%','${customer}','%' )
    </if>
    <!-- 查询 建立时间create_time在传入的参数 query_start_time 和 query_finish_time 之间的订单 -->
    <if test="query_start_time!=null and query_start_time != '' ">
      and DATE_FORMAT(mo.create_time,'%Y-%m-%d %T') &gt;= #{query_start_time}
    </if>
    <if test="query_finish_time!=null and query_finish_time != '' ">
      and DATE_FORMAT(mo.create_time,'%Y-%m-%d %T') &lt;= #{query_finish_time}
    </if>

    <if test="machine_name!=null and machine_name != '' ">
      and mt.name like CONCAT('%','${machine_name}','%' )
    </if>
  </select>


  <select id="selectOrder" resultMap="MachineOrderDetailMap">
    select mo.*, od.*, mt.id machineTypeID, mt.name, con.id, con.contract_num, con.customer_name as customer
    from machine_order mo
    join order_detail od on mo.order_detail_id=od.id
    join machine_type mt on mo.machine_type=mt.id
    join contract con on mo.contract_id = con.id
    where 1=1
    <if test="id != null and id != ''">
      and mo.id=#{id}
    </if>
    <if test="order_num != null and order_num != ''">
      and mo.order_num like CONCAT('%','${order_num}','%' )
    </if>
    <if test="contract_num != null and contract_num != ''">
      and con.contract_num = CONCAT('%','${contract_num}','%' )
    </if>
    <if test="status != null and status != ''">
      and mo.id=${status}
    </if>
    <if test="sellman != null and sellman != '' ">
      and mo.sellman = CONCAT('%','${sellman}','%' )
    </if>
    <if test="customer!=null and customer != '' ">
      and con.customer_name = CONCAT('%','${customer}','%' )
    </if>
    <!-- 查询 建立时间create_time在传入的参数 query_start_time 和 query_finish_time 之间的订单 -->
    <if test="query_start_time!=null and query_start_time != '' ">
      and DATE_FORMAT(mo.create_time,'%Y-%m-%d %T') &gt;= #{query_start_time}
    </if>
    <if test="query_finish_time!=null and query_finish_time != '' ">
      and DATE_FORMAT(mo.create_time,'%Y-%m-%d %T') &lt;= #{query_finish_time}
    </if>

    <if test="machine_name!=null and machine_name != '' ">
      and mt.name = CONCAT('%','${machine_name}','%' )
    </if>
  </select>


</mapper>