<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.MachineMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.machine.Machine">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="machine_id" jdbcType="VARCHAR" property="machineId" />
    <result column="nameplate" jdbcType="VARCHAR" property="nameplate" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="machine_type" jdbcType="INTEGER" property="machineType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="installed_time" jdbcType="TIMESTAMP" property="installedTime" />
    <result column="ship_time" jdbcType="TIMESTAMP" property="shipTime" />
  </resultMap>

  <select id="searchMachineByAbnormalRecordId" resultMap="BaseResultMap">
--  count(distinct m.id)是为了去重
    select m.*, count(distinct m.id)
    from abnormal_image ai
    join abnormal_record ar on ar.id = ai.abnormal_record_id
    join task_record tr on tr.id = ar.task_record_id
    join process_record pr on pr.id =tr.process_record_id
    join machine m on m.id = pr.machine_id
    where ar.id = #{abnormalRecordId}
  </select>
  <select id="searchMachineByTaskQualityRecordId" resultMap="BaseResultMap">
     select m.*, count(distinct m.id)
     from quality_record_image qri
     join task_quality_record tqr on tqr.id = qri.task_quality_record_id
	 join task_record tr on tr.id = tqr.task_record_id
	 join process_record pr on pr.id = tr.process_record_id
	 join machine m on m.id = pr.machine_id
     where qri.task_quality_record_id = #{taskQualityRecordId}
  </select>
  <select id="selectMachines" resultMap="BaseResultMap">
    SELECT * FROM machine
      where 1=1
      <if test="id != null and id != ''">
          and id=#{id}
      </if>
      <if test="machine_id != null and machine_id != ''">
          and machine_id=#{machine_id}
      </if>
      <if test="order_id != null and order_id != ''">
          and order_id=#{order_id}
      </if>
      <if test="nameplate != null and nameplate != ''">
          and nameplate=#{nameplate}
      </if>
      <if test="location != null and location != ''">
          and location=#{location}
      </if>
      <if test="status != null and status != ''">
          and status=#{status}
      </if>
      <if test="machine_type != null and machine_type != ''">
          and machine_type=#{machine_type}
      </if>
      <!-- 查询 建立时间create_time在传入的参数 query_start_time 和 query_finish_time 之间的订单 -->
      <if test="query_start_time!=null and query_start_time != '' ">
          and DATE_FORMAT(create_time,'%Y-%m-%d %T') &gt;= #{query_start_time}
      </if>
      <if test="query_finish_time!=null and query_finish_time != '' ">
          and DATE_FORMAT(create_time,'%Y-%m-%d %T') &lt;= #{query_finish_time}
      </if>
      ORDER By create_time, ship_time DESC

  </select>

  <select id="selectMachinesFuzzy" resultMap="BaseResultMap">
      SELECT * FROM machine
      where 1=1
      <if test="id != null and id != ''">
          and id=#{id}
      </if>
      <if test="machine_id != null and machine_id != ''">
          and machine_id like CONCAT('%','${machine_id}','%' )
      </if>
      <if test="order_id != null and order_id != ''">
          and order_id like CONCAT('%','${order_id}','%' )
      </if>
      <if test="nameplate != null and nameplate != ''">
          and nameplate like CONCAT('%','${nameplate}','%' )
      </if>
      <if test="location != null and location != ''">
          and location=#{location}
      </if>
      <if test="status != null and status != ''">
          and status=#{status}
      </if>
      <if test="machine_type != null and machine_type != ''">
          and machine_type=#{machine_type}
      </if>
      <!-- 查询 建立时间create_time在传入的参数 query_start_time 和 query_finish_time 之间的订单 -->
      <if test="query_start_time!=null and query_start_time != '' ">
          and DATE_FORMAT(create_time,'%Y-%m-%d %T') &gt;= #{query_start_time}
      </if>
      <if test="query_finish_time!=null and query_finish_time != '' ">
          and DATE_FORMAT(create_time,'%Y-%m-%d %T') &lt;= #{query_finish_time}
      </if>
      ORDER By create_time, ship_time DESC
  </select>

</mapper>