<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.OrderSignMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.order_sign.OrderSign">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="sign_content" jdbcType="LONGVARCHAR" property="signContent" />
  </resultMap>

  <!--获取某个合同下，有效的需求单签核记录；当前"3"表示拆单，“6”表示取消，这些订单签核记录作为判断当前签核流程的基础内容-->
  <select id="getValidOrderSigns" resultMap="BaseResultMap">
    SELECT os.* from order_sign os
    JOIN machine_order mo on mo.id = os.order_id
    JOIN contract c on c.id = mo.contract_id
    WHERE c.id =  #{contractId} AND mo.status != 3 AND mo.status != 6
  </select>
  
  <select id="getOrderSignListByOrderId" resultMap="BaseResultMap">
    SELECT os.*
    FROM order_sign os
    WHERE os.order_id = #{orderId}
  </select>
</mapper>