<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.OrderSplitRecordMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.order_split_record.OrderSplitRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="split_time" jdbcType="TIMESTAMP" property="splitTime" />
    <result column="split_reason" jdbcType="LONGVARCHAR" property="splitReason" />
  </resultMap>
</mapper>