<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.OrderLoadingListMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.order_loading_list.OrderLoadingList">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <select id="selectFilePathByOrderId" resultMap="BaseResultMap">
    select * from order_loading_list where order_id = #{orderId}
  </select>
</mapper>