<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.QualityInspectRecordMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.quality_inspect_record.QualityInspectRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="machine_nameplate" jdbcType="VARCHAR" property="machineNameplate" />
    <result column="inspect_name" jdbcType="VARCHAR" property="inspectName" />
    <result column="inspect_person" jdbcType="VARCHAR" property="inspectPerson" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="record_status" jdbcType="VARCHAR" property="recordStatus" />
    <result column="record_remark" jdbcType="VARCHAR" property="recordRemark" />
    <result column="re_inspect" jdbcType="VARCHAR" property="reInspect" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />

    <result column="task_name" jdbcType="VARCHAR" property="taskName" />
    <result column="order_number" jdbcType="VARCHAR" property="orderNumber" />
  </resultMap>

  <resultMap id="QualityInspectRecordDetailResultMap" type="com.eservice.api.model.quality_inspect_record.QualityInspectRecordDetail">
    <!--
        WARNING - @mbg.generated
      -->
    <id column="qirID" jdbcType="INTEGER" property="id" />
    <result column="machine_nameplate" jdbcType="VARCHAR" property="machineNameplate" />
    <result column="inspect_name" jdbcType="VARCHAR" property="inspectName" />
    <result column="inspect_person" jdbcType="VARCHAR" property="inspectPerson" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="record_status" jdbcType="VARCHAR" property="recordStatus" />
    <result column="record_remark" jdbcType="VARCHAR" property="recordRemark" />
    <result column="re_inspect" jdbcType="VARCHAR" property="reInspect" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="task_name" jdbcType="VARCHAR" property="taskName" />
    <result column="order_number" jdbcType="VARCHAR" property="orderNumber" />

      <!-- task Record-->
      <result column="task_name" jdbcType="VARCHAR" property="taskName"/>
      <result column="process_record_id" jdbcType="INTEGER" property="processRecordId"/>
      <result column="node_key" jdbcType="TINYINT" property="nodeKey"/>
      <result column="leader" jdbcType="VARCHAR" property="leader"/>
      <!--<result column="status_in_task_record" jdbcType="TINYINT" property="status"/>-->
      <result column="record_status" jdbcType="TINYINT" property="status"/>

      <result column="install_begin_time" jdbcType="TIMESTAMP" property="installBeginTime"/>
      <result column="install_end_time" jdbcType="TIMESTAMP" property="installEndTime"/>
      <result column="quality_begin_time" jdbcType="TIMESTAMP" property="qualityBeginTime"/>
      <result column="quality_end_time" jdbcType="TIMESTAMP" property="qualityEndTime"/>
      <result column="worker_list" jdbcType="LONGVARCHAR" property="workerList"/>
      <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
      <result column="wait_timespan" jdbcType="INTEGER" property="waitTimespan"/>
      <result column="cmt_feedback" jdbcType="VARCHAR" property="cmtFeedback"/>

      <association javaType="com.eservice.api.model.machine.Machine" property="machine" >
          <!--
         WARNING - @mbg.generated
       -->
          <id column="machine_id_in_association" jdbcType="INTEGER" property="id"/>
          <result column="order_id" jdbcType="INTEGER" property="orderId"/>
          <result column="machine_strid" jdbcType="VARCHAR" property="machineStrId"/>
          <result column="nameplate" jdbcType="VARCHAR" property="nameplate"/>
          <result column="location" jdbcType="VARCHAR" property="location"/>
          <result column="status_in_machine" jdbcType="TINYINT" property="status"/>
          <result column="machine_type" jdbcType="INTEGER" property="machineType"/>
          <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
          <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
          <result column="installed_time" jdbcType="TIMESTAMP" property="installedTime"/>
          <result column="ship_time" jdbcType="TIMESTAMP" property="shipTime"/>
          <result column="is_urgent" jdbcType="VARCHAR" property="isUrgent"/>
      </association >
      <association javaType="com.eservice.api.model.machine_order.MachineOrder" property="machineOrder">

          <id column="machine_order_id" jdbcType="INTEGER" property="id"/>
          <result column="order_num" jdbcType="VARCHAR" property="orderNum"/>
          <result column="original_order_id" jdbcType="INTEGER" property="originalOrderId"/>
          <result column="order_detail_id" jdbcType="INTEGER" property="orderDetailId"/>
          <result column="create_user_id" jdbcType="INTEGER" property="createUserId"/>
          <result column="contract_id" jdbcType="VARCHAR" property="contractId"/>
          <!--<result column="customer" jdbcType="VARCHAR" property="customer" />-->
          <result column="country" jdbcType="VARCHAR" property="country"/>
          <result column="brand" jdbcType="VARCHAR" property="brand"/>
          <result column="mo_machine_type" jdbcType="INTEGER" property="machineType"/>
          <result column="needle_num" jdbcType="INTEGER" property="needleNum"/>
          <result column="head_num" jdbcType="INTEGER" property="headNum"/>
          <result column="head_distance" jdbcType="INTEGER" property="headDistance"/>
          <result column="x_distance" jdbcType="VARCHAR" property="xDistance"/>
          <result column="y_distance" jdbcType="VARCHAR" property="yDistance"/>
          <result column="package_method" jdbcType="VARCHAR" property="packageMethod"/>
          <result column="machine_num" jdbcType="TINYINT" property="machineNum"/>
          <result column="machine_price" jdbcType="VARCHAR" property="machinePrice"/>
          <result column="contract_ship_date" jdbcType="DATE" property="contractShipDate"/>
          <result column="plan_ship_date" jdbcType="DATE" property="planShipDate"/>
          <result column="sellman" jdbcType="VARCHAR" property="sellman"/>
          <result column="machineOrder_status" jdbcType="TINYINT" property="status"/>
          <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
          <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
          <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
          <result column="mark" jdbcType="LONGVARCHAR" property="mark"/>
          <result column="all_urgent" jdbcType="TINYINT" property="allUrgent"/>

      </association>
      <association javaType="com.eservice.api.model.quality_inspect.QualityInspect" property="qualityInspect">
          <!--
               WARNING - @mbg.generated
             -->
          <id column="quality_inspect_id" jdbcType="INTEGER" property="id" />
          <result column="inspect_type" jdbcType="VARCHAR" property="inspectType" />
          <result column="inspect_name" jdbcType="VARCHAR" property="inspectName" />
          <result column="inspect_content" jdbcType="VARCHAR" property="inspectContent" />
          <result column="level" jdbcType="VARCHAR" property="level" />
          <result column="phase" jdbcType="VARCHAR" property="phase" />
          <result column="task_name" jdbcType="VARCHAR" property="taskName" />
          <result column="valid" jdbcType="TINYINT" property="valid" />
      </association>
  </resultMap>
             <!--and DATE_FORMAT(qir.create_time,'%Y-%m-%d') &gt;= #{queryStartTime}-->
             <!--应该是查询质检的上传时间比较好 -->
  <select id="selectQualityInspectRecordDetail" resultMap="QualityInspectRecordDetailResultMap">
      SELECT
--       distinct
      qir.id as qirID,
      qir.create_time,
      qir.inspect_name,
      qir.inspect_person,
      qir.machine_nameplate,
      qir.order_number,
      qir.record_remark,
      qir.record_status,
      qir.re_inspect,
      qir.task_name,
      qir.update_time,

      qi.id as quality_inspect_id,
      qi.inspect_content,
--       qi.inspect_name, 相同且唯一
      qi.inspect_type,
      qi.`level`,
      qi.phase,
      qi.valid,

      m.id AS machine_id_in_association
      ,
      m.location,
      m.nameplate,

      mo.id AS machine_order_id,
      mo.order_num,
      mo.head_num,
      mo.needle_num,

      tr.`status` as status_in_task_record

      FROM
      quality_inspect_record qir
      JOIN machine m ON qir.machine_nameplate = m.nameplate
      JOIN machine_order mo ON mo.order_num = qir.order_number
      JOIN process_record pr ON pr.machine_id = m.id
      JOIN task_record tr ON tr.process_record_id = pr.id
      JOIN quality_inspect qi on qi.inspect_name  = qir.inspect_name
      WHERE
      1 = 1
    <if test="orderNumber != null and orderNumber != ''">
      and qir.order_number like CONCAT('%','${orderNumber}','%' )
    </if>
    <if test="taskName != null and taskName != ''">
      and  qir.task_name = #{taskName}
    </if>

      <if test="recordStatusArr != null">
          and qir.record_status in
          <foreach collection="recordStatusArr" item="item" open="(" close=")"  separator="," >
              #{item}
          </foreach>
      </if>
    <if test="nameplate != null and nameplate != ''">
      and qir.machine_nameplate like CONCAT('%','${nameplate}','%' )
    </if>
    <if test="inspectName != null and inspectName != ''">
      and qir.inspect_name like CONCAT('%','${inspectName}','%' )
    </if>
    <if test="inspectPerson != null and inspectPerson != ''">
      and qir.inspect_person like CONCAT('%','${inspectPerson}','%' )
    </if>
    <if test="recordRemark != null and recordRemark != ''">
      and  qir.record_remark  like CONCAT('%','${recordRemark}','%' )
    </if>
    <if test="reInspect != null and reInspect != ''">
      and  qir.re_inspect  like CONCAT('%','${reInspect}','%' )
    </if>
    <if test="queryStartTime != null and queryStartTime != '' ">
        and DATE_FORMAT(qir.update_time,'%Y-%m-%d') &gt;= #{queryStartTime}
    </if>
    <if test="queryFinishTime!= null and queryFinishTime != '' ">
        and DATE_FORMAT(qir.update_time,'%Y-%m-%d') &lt;=  #{queryFinishTime}
    </if>

      <if test="inspectName != null and inspectName != ''">
          and qi.inspect_name like CONCAT('%','${inspectName}','%' )
      </if>
      <if test="inspectType != null and inspectType != ''">
          and qi.inspect_type = #{inspectType}
      </if>
      <if test="inspectPhase != null and inspectPhase != ''">
          and qi.phase = #{inspectPhase}
      </if>
      <if test="inspectContent != null and inspectContent != ''">
          and qi.inspect_content like CONCAT('%','${inspectContent}','%' )
      </if>

    GROUP BY qirID
    ORDER BY  qir.update_time DESC, qir.create_time DESC
  </select>

    <select id="selectQualityInspectRecordDetailGroupByMachine" resultMap="QualityInspectRecordDetailResultMap">
--  同个机器，质检项inspect_name 可能会有多个， 在app 上会处理：同个机器的多个质检项，只显示第一项，到详情页面里，会重新获取全部质检项
    SELECT DISTINCT
        (m.nameplate),
        qir.record_status,
        qir.inspect_name,
        m.location,
        mo.id AS machine_order_id,
        mo.order_num
    FROM
        quality_inspect_record qir
    JOIN machine m ON qir.machine_nameplate = m.nameplate
    JOIN machine_order mo ON mo.order_num = qir.order_number
    WHERE
        1 = 1
--         已经质检OK、不需要再看了的，就不再显示； 未检或者NG的才显示
    AND (qir.record_status = 10 or qir.record_status = 12)
    ORDER BY
        qir.create_time DESC,
        qir.update_time DESC
    </select>

</mapper>