<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.TaskMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.task.Task">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="task_name" jdbcType="VARCHAR" property="taskName" />
    <result column="quality_user_id" jdbcType="INTEGER" property="qualityUserId" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="guidance" jdbcType="LONGVARCHAR" property="guidance" />
    <result column="standard_minutes" jdbcType="INTEGER" property="standardMinutes" />
  </resultMap>
</mapper>