<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.TaskPlanMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.task_plan.TaskPlan">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="task_record_id" jdbcType="INTEGER" property="taskRecordId" />
    <result column="plan_type" jdbcType="TINYINT" property="planType" />
    <result column="deadline" jdbcType="TIMESTAMP" property="deadline" />
    <result column="plan_time" jdbcType="TIMESTAMP" property="planTime" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <select id="selectByUserAccount" resultMap="BaseResultMap">
    SELECT * FROM task_plan tp
    join user on user.id = tp.user_id
    where user.account = #{userAccount}
  </select>
</mapper>