<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.user.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="valid" jdbcType="TINYINT" property="valid" />
  </resultMap>

    <resultMap id="UserDetailMap" type="com.eservice.api.model.user.UserDetail">
        <id column="id" property="id" />
        <result column="account" jdbcType="VARCHAR" property="account" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <!--<result column="password" jdbcType="VARCHAR" property="password" />-->
        <result column="valid" jdbcType="TINYINT" property="valid" />
        <association javaType="com.eservice.api.model.role.Role" property="role">
            <id column="role_id" property="id" />
            <result column="role_name" jdbcType="VARCHAR" property="roleName" />
            <result column="role_des" jdbcType="VARCHAR" property="roleDes" />
        </association>
        <association javaType="com.eservice.api.model.install_group.InstallGroup" property="group">
            <id column="install_group_id" property="id" />
            <result column="group_name" jdbcType="VARCHAR" property="groupName" />
        </association>
    </resultMap>


    <select id="getUserAllDetail" resultMap="UserDetailMap">
        SELECT u.*, r.id role_id, r.role_des, r.role_name, ig.id install_group_id, ig.group_name
        FROM user u
        JOIN role r ON r.id = u.role_id
        LEFT JOIN install_group ig ON u.group_id = ig.id
        WHERE u.id = ${id}
    </select>

    <select id="selectUsers" resultMap="UserDetailMap">
        SELECT u.*, r.id role_id, r.role_des, r.role_name, ig.id install_group_id, ig.group_name
        FROM user u
        JOIN role r ON r.id = u.role_id
        LEFT JOIN install_group ig ON u.group_id = ig.id
        where 1=1
        <if test="account != null and account != ''">
            and u.account like CONCAT('%','${account}','%' )
        </if>
        <if test="name != null and name != ''">
            and u.name like CONCAT('%','${name}','%' )
        </if>
        <if test="groupId != null and groupId > 0">
            and u.group_id = ${groupId}
        </if>
        <if test="roleId != null and roleId > 0">
            and u.role_id = ${roleId}
        </if>
        <if test="valid != null">
            and u.valid = ${valid}
        </if>
    </select>

    <select id="requestLogin" resultMap="UserDetailMap">
        SELECT u.*, r.id role_id, r.role_des, r.role_name, ig.id install_group_id, ig.group_name
        FROM user u
        JOIN role r ON r.id = u.role_id
        LEFT JOIN install_group ig ON u.group_id = ig.id
        WHERE u.account = '${account}' AND u.password = '${password}'
    </select>

    <select id="selectByAccount" resultMap="BaseResultMap">
         select * from user  where account=#{account}
    </select>

    <select id="selectAllInstallGroupByUserId" resultMap="UserDetailMap">
        select u.*, r.id role_id, r.role_des, r.role_name, ig.id install_group_id, ig.group_name
        from user u
        join install_group ig on u.group_id=ig.id
        join role r on r.id = u.role_id
        where group_id=(select group_id from user where user.id=#{id}) and u.valid='1'
    </select>
</mapper>